name: 'Pull request build'

run-name: 'Pull request build [PR#${{ github.ref_name }}] #${{ github.run_number }}'

on:
  pull_request:
    branches:
      - 'main'
      - 'release/**'

env:
  NODE_VERSION: '24.9.0'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - 
        name: Checkout the branch
        uses: actions/checkout@v5
      - 
        name: Setup Node
        uses: actions/setup-node@v5

        with:
          node-version: ${{ env.NODE_VERSION }}
      - 
        name: Install Node modules
        run: cd app/ && npm install
      - 
        name: Test
        run: cd app/ && npm run checks && npm test
      -
        name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: "${{ github.repository }}:${{ github.run_number }}-latest"
      - 
        name: "[Test] Get tags"
        run: git fetch --tags origin
      - 
        name: "[Test] Determine next version number"
        id: nextVersion
        uses: ./
        with:
          versionScheme: 'x'
